.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../images/wall.png'), no-repeat;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90px;
  background: #000;
  border-bottom: 5px solid #ffd700;
  padding: 1.2rem 0;
}

.menu h2{
  color:#f72e2e;
}

.menu .number-white{
  text-align: center;
  color:#fff;
  margin-top: 1.2rem 
}

.panel{
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  width: 160px;
  height: 160px;
  border: 1px solid #000;
  background-color: #544141;
}

.enemy{
  background-image: url('../images/ralph.png');
  background-size: cover;
  background-position: center;
}

.menu-lives{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-lives img {
  height: 60px;
}